{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
{% if title %}<h2>{{ title }}</h2>{% endif %}
  {% for part in actions %}
  {% if part.has_perms in perms or not part.has_perms %}
  <div class="col-sm-6">
    <div class="panel panel-primary">
     {% if part.heading %}
      <div class="panel-heading">
       <h3 class="panel-title">{{ part.heading|safe }}</h3>
      </div>
     {% endif %}
      <div class="panel-body">
        <center>
        {% for action in part.actions %}
        {% if action.has_perms in perms or not action.has_perms %}
          {% if action.url %}
            <a class="btn btn-default" href="{{ action.url }}" role="button">{% if action.icon %}<span class="glyphicon glyphicon-{{ action.icon }}"></span>{% endif %}&nbsp;&nbsp;{{ action.label }}&nbsp;</a>
     	    <br />
     	    {% if action.desc %}<p>{{ action.desc }}</p>{% endif %}
     	    <br />
     	    <br />
          {% endif %}
        {% endif %}
        {% endfor %}
        </center>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

