{% extends "base.html" %}
{% load extra_tags %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
{% endblock %}

{% block form %}
  <h1>{{ title }}</h1>
  <p>{{ desc }}</p>
  <form role="form" class="form-horizontal" action="." method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  {% for form in formset %}
    <div class="row form-group placeholders">
     <div class="col-xs-6 col-sm-3">
      <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="{{ form.product.label }}" src="{{ form.product.image }}">
      <h3>{{ form.product.title|addclass:"form-control" }}</h3>
      <span class="text-muted">{{ form.product.desc }}</span>
      <h4>{{ form.amount|addclass:"form-control" }}</h4>
     </div>
    </div>
  {% endfor %}
  <div class="btn-toolbar">
   <div class="btn-group">
    <button class="btn btn-success" type="submit" value="{{ submit }}">{{ submit }}&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
   </div>
  </div>
 </form>  
{% endblock %}

{% endblock %}

