<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        {{ overview.name }}<p class="lead">{{ name }}</p>
      </div>
      <div class="col-sm-6">
        {{ overview.username }}<p class="lead">{{ username }}</p>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        {{ overview.email }} <p class="lead">{{ email }}</p>
      </div>
      <div class="col-sm-6">
        {{ overview.role }} <p class="lead">{{ role }}</p>
      </div>
    </div>
  </div>
</div>
</div>
