{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
{% endblock %}

{% block form %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">{{ auth.password.reset.title }}</h2>
    </div>
    <div class="panel-body">
      <p>{{ auth.password.reset.desc }}</p>
      <div class="col-xs-10">
       <form role="form" class="form-horizontal" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        {% bootstrap_form form %}
        <p class="text-center">
           <button class="btn btn-success" type="submit" value="{{ auth.password.reset.submit }}">{{ auth.password.reset.submit }}&nbsp;&nbsp;<i class="fa fa-pencil-square-o"></i></button>
        </div>
       </form>  
      </div>
    </div>
  </div>
{% endblock %}

{% endblock %}
