<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        {{ overview.date }}<p class="lead">{{ when }} à {{ time }}</p>
      </div>
      <div class="col-sm-6">
        {{ overview.location }}<address class="lead">{{ location }}<br/>{{ address }}</address>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-condensed">
         {% for h in listing.header %}
          <tr>
           <th>{{ h }}</td>
          </tr>
         {% endfor %}
         {% for row in listing.table %}
          <tr>
          {% for d in row %}
           <td class="lead">{{ d }}</td>
          {% endfor %}
          </tr>
         {% endfor %}
         {% for f in listing.footer %}
          <tr>
           <th>{{ f }}</td>
          </tr>
         {% endfor %}
        </table>
        {{ overview.attendance }} ({{ attendance|length }})
        {{ overview.excused }} ({{ excused|length }})
        {{ overview.invitee }} ({{ invitee|length }})
      </div>
    </div>
  </div>
</div>
</div>
