/* adjustmenes of the bt theme */

.container-fluid {
  padding: 0;
}

.navbar {
  margin-bottom: 5px;
}
.navbar-default {
  padding: 5px 20px;
}

.footer {
  padding: 5px 20px;
}

div.alert {
  margin: 0 50px 50px 50px;
  padding: 20px;
}

.cal {
  margin: 0 0 10px 0;
  padding: 0;
}

.cal .panel-heading {
  margin: 0;
  padding: 5px;
  width: 75px;
}
.cal .panel-body {
  margin: 0;
  padding: 5px;
  width: 75px;
}
.cal .panel-footer {
  margin: 0;
  padding: 1px;
  width: 75px;
}

.cal h4, .cal h2 {
  margin: 0;
  padding: 0;

