<!DOCTYPE html>
<html lang="fr">
  <head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none">

    <meta name="author" content="{{ meta.author }}">
    <meta name="copyright" content="{{ meta.copyright }}">
    
    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    
    <link rel="index" href="/" title="{{ meta.title }}">
    <link rel="shortcut icon" type="image/png" href="{{ meta.favicon}}"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ meta.css.bt }}" media="screen,print">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ meta.css.bt_theme }}" media="screen,print">
   
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{ meta.css.own }}">

   <!-- fontawesome //-->
   <script src="{{ meta.js.fontawesome }}"></script>

  {% endblock %}
  </head>

  <body role="document">

<!-- header and navigation -->
  <div class="container-fluid">
    {% block nav %}
     {% include "nav.html" %}
    {% endblock %}
  </div>
<!-- end nav-->

<!-- content -->
  <div class="container-fluid">

    {% if crumbs %}
      <!-- headcrumbs -->
      <ol class="breadcrumb">
       <li><a href="/">Home</a></li>
       {% for crumb in crumbs %}
        {% if forloop.last %}
         <li class="active"><a class="active" href="{{ crumb.url }}">{{ crumb.text }}</a></li>
        {% else %}
         <li><a href="{{ crumb.url }}">{{ crumb.text }}</a></li>
        {% endif %}
       {% endfor %}
      </ol>
    {% endif %}

    {% if meta.badge %}
      <div class="pull-left">
        <span class="btn btn-danger btn-lg disabled">{{ meta.badge }}</span>
      </div>
      <div class="pull-right">
        <span class="btn btn-danger btn-lg disabled">{{ meta.badge }}</span>
      </div>
    {% endif %}

  <!-- jumbotron -->
    <div class="jumbotron">
     {% block content %}{% endblock %}
    </div>
  <!-- end jumbotron -->

  </div> 
<!-- end content -->

<!-- footer -->
  <footer class="hidden-print">
    <div class="footer">
     <small class="text-muted pull-right">&copy; {{ meta.copyright }} 2014</small>
    </div>
  </footer>
<!-- end footer -->

   <!-- jquery //-->
   <script src="{{ meta.js.jq }}"></script>

   <!-- Latest compiled and minified JavaScript -->
   <script src="{{ meta.js.bt }}"></script>

   <!-- momentjs //-->
   <script src="{{ meta.js.momentjs }}"></script>

   <!-- datetimepicker jquery //-->
   <script src="{{ meta.js.dtpicker }}"></script>
   <script>
    $(function () {
     $('#dtpicker').datetimepicker({
       locale: 'fr',
       format:'YYYY-MM-DD HH:mm',
       sideBySide: true,
     });
    });
    $(function () {
     $('#dpicker').datetimepicker({
       locale: 'fr',
       format:'YYYY-MM-DD',
     });
    });
    $(function () {
     $('#dpicker2').datetimepicker({
       locale: 'fr',
       format:'YYYY-MM-DD',
     });
    });
    $(function () {
     $('#tpicker').datetimepicker({
       locale: 'fr',
       format:'HH:mm',
     });
    });
    $(function () {
     $('#tpicker2').datetimepicker({
       locale: 'fr',
       format:'HH:mm',
     });
    });
    $(function () {
     $('#ypicker').datetimepicker({
       locale: 'fr',
       format:'YYYY',
     });
    });
   </script>

  </body>
</html>

