<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <h3>{{ content.members }}</h3>
    <table class="table table-striped table-condensed">
      <tr>
        {% for h in listing.header %}
         <th>{{ h }}</td>
        {% endfor %}
      </tr>
      {% for m in listing.members %}
      <tr>
        {% for e in m %}
         <td>{{ e }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <h3>{{ content.invitee }}</h3>
    <table class="table table-striped table-condensed">
      {% for i in listing.invitees %}
      <tr>
        {% for e in i %}
         <td><em>{{ e }}</em></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <h3>{{ content.resume }}</h3>
    <table class="table table-bordered table-condensed">
      {% for r in listing.resume %}
      <tr>
        {% for e in r %}
         <th>{{ e|safe }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
</div>
