    <h4>{{ content.members }}</h4>
    <table class="table table-striped table-condensed">
      <tr>
        {% for h in listing.header %}
         <th>{{ h }}</td>
        {% endfor %}
      </tr>
      {% for m in listing.members %}
      <tr>
        {% for e in m %}
         <td>{{ e|safe }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <h4>{{ content.invitee }}</h4>
    <table class="table table-striped table-condensed">
      {% for i in listing.invitees %}
      <tr>
        {% for e in i %}
         <td><em>{{ e }}</em></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <h5>{{ content.resume }}</h5>
    <table class="table table-bordered table-condensed">
      {% for r in listing.resume %}
      <tr>
        {% for e in r %}
         <td>{{ e|safe }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
