{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

{% block errors %}
  {% if error_message %}<p class="error">{{ error_message }}</p>{% endif %}
{% endblock %}

{% block form %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">{{ title }}</h2>
    </div>
    <div class="panel-body">
      <p>{{ desc }}</p>
      <div class="col-xs-10">
       <form role="form" class="form-horizontal" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.management_form }}
        {% for f in form %} 
         {% bootstrap_form f %}
         <hr class="divider" />
        {% endfor %}
        <div class="btn-toolbar">
         <div class="btn-group">
          <button class="btn btn-success" type="submit" value="{{ submit }}">{{ submit }}&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span></button>
         </div>
        </div>
       </form>  
      </div>
    </div>
  </div>
{% endblock %}

{% endblock %}

