{% block nav %}
  <nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
     <div class="col-xs-2">
      <a class="btn" href="{{ meta.logo.url }}"><img class="navbar-brand" src="{{ meta.logo.img }}" valign="middle" /><span class="text-muted">{{ meta.logo.title|safe }}</span></a>
     </div>
     <div class="col-xs-7">
      <center><h3 class="text-primary"><em>{{ meta.title }}</em></h3></center>
     </div>
     <div class="col-xs-3">
      {% if user.is_authenticated %}
      <!-- Split button -->
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Bienvenue, <span class="text-primary">{{ user.first_name }} <span class="text-uppercase">{{ user.last_name }}</span> ({{ user }})</span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/members/profile/{{ user }}">Profile</a></li>
            <li><a href="/password_change/">Mot de passe</a></li>
            <li class="divider"></li>
            <li><a href="/logout/"><span class="text-primary">Déconnexion</span></a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
     </div>
    </div>
   </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
