<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        {{ overview.date }}<p class="lead">{{ when }} à {{ time }}</p>
        {% if message %}<pre>{{ message }}</pre>{% endif %}
        {% if attach %}<a class="btn btn-info pull-left" href="{{ attach }}" target="_blank" role="button"><span class="fa fa-download"></span>&nbsp;&nbsp;{{ overview.attach }}&nbsp;</a>{% endif %}
      </div>
      <div class="col-sm-6">
        {% if report %}<a class="btn btn-info pull-right" href="{{ report }}" target="_blank" role="button"><span class="fa fa-download"></span>&nbsp;&nbsp;{{ overview.report }}&nbsp;</a>{% endif %}
        {{ overview.location }}<address class="lead">{{ location }}<br/>{{ address }}</address>
      </div>
    </div>
    <br/>
    <a class="btn btn-danger pull-right" href="{{ print }}" role="button" target="_blank"><span class="fa fa-list-alt"></span>&nbsp;&nbsp;{{ overview.print }}&nbsp;</a>
    <hr width="50%" />
    {{ listing }}  
  </div>
</div>
</div>
