<div class="overview">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ name }} ({{ username }})</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-responsive img-rounded" src="{{ photo }}" />
      </div>
      <div class="col-sm-4">
        {% if role %}{{ overview.role }} <p class="lead">{{ role }}</p>{% endif %}
        {{ overview.mobile }} <p class="lead">{{ mobile }}</p>
        {{ overview.email }} <p class="lead">{{ email }}</p>
      </div>
      <div class="col-sm-4">
        {{ overview.address }}<address class="lead">{{ address }}</address>
        {{ overview.phone }} <p class="lead">{{ phone }}</p>
      </div>
    </div>
  </div>
</div>
</div>
