<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{ overview.date }}</h3><blockquote>{{ when }} {{ time }}</blockquote>
      </div>
      <div class="col-sm-6">
        <h3>{{ overview.location }}</h3><blockquote>{{ location }}</blockquote>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <h3>{{ overview.agenda }}</h3><blockquote>{{ agenda|safe }}</blockquote>
      </div>
      <div class="col-sm-6">
        {% if invitation %}
        <h3>{{ overview.info }}</h3><blockquote>{{ invitation|safe }}</blockquote>
        {% endif %}
        {% if attachement %}
        <a href="{{ attachement.url }}" target="_blank">{{ attachement.name }}</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 lead">
        <i>{{ overview.regcode }}</i>&nbsp;<b>{{ regcode }}</b>
      </div>
    </div>
  </div>
</div>
</div>
