<div class="overview">
<div class="panel panel-primary">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <h3>{{ overview.date }}</h3><blockquote>{{ when }} {{ time }}</blockquote>
      </div>
      <div class="col-sm-6">
        <h3>{{ overview.location }}</h3><blockquote>{{ location }}</blockquote>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-6">
        <h3>{{ overview.agenda }}</h3><blockquote>{{ agenda|safe }}</blockquote>
      </div>
      <div class="col-sm-6">
        {% if invitation %}
        <h3>{{ overview.invitation }}</h3><blockquote>{{ invitation|safe }}</blockquote>
        {% endif %}
        {% if attachement %}
        <a href="{{ attachement.url }}" target="_blank">{{ attachement.name }}</a>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>{{ overview.attendance }}</h3><blockquote>{{ attendance|safe }}</blockquote>
      </div>
      <div class="col-sm-6">
        <h3>{{ overview.registration }}</h3><i class="fa fa-link"></i>&nbsp;<a href="{{ registration }}" target="_blank">{{ registration }}</a>
      </div>
    </div>
  </div>
</div>
</div>
