<div class="teaser">
  <p class="lead">{{ overview.title }}</p>
  <h3>{{ overview.date }}</h3><blockquote>{{ when }} {{ time }}</blockquote>
  <h3>{{ overview.location }}</h3><blockquote>{{ location|safe }}</blockquote>
  <h3>{{ overview.agenda }}</h3><blockquote>{{ agenda|safe }}</blockquote>
  {% if invitation %} <h3>{{ overview.info }}</h3><blockquote>{{ invitation|safe }}</blockquote>{% endif %}
  {% if price != 0 %} <h3>{{ overview.price }}</h3><blockquote>{{ price }} EUR</blockquote>{% endif %}
</div>
